# 1). Create a tuple called data with two values, (1, 2) and (3, 4)

In [1]:
data=((1,2),(3,4))

In [2]:
print(type(data))
print(data)

<class 'tuple'>
((1, 2), (3, 4))

# 2). Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [3]:
num=[4,3,2,1]
print(num)
type(num)

[4, 3, 2, 1]

list

# 3). Create a copy of the number list using [:]

In [4]:
copy=num[:]

In [5]:
print(copy)
type(copy)

[4, 3, 2, 1]

list

# 4). Sort the numbers list in numerical order

In [6]:
num.sort()
num

[1, 2, 3, 4]

# 5). Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [7]:
cardinal_numbers=('first','second','third')
cardinal_numbers

('first', 'second', 'third')

# 6) Display the second object in the above tuple

In [8]:
cardinal_numbers[1]

'second'

# 7). Unpack the tuple into three strings and display them

In [9]:
position1,position2,position3=cardinal_numbers
print(position1)
print(position2)
print(position3)

first
second
third

OR

In [10]:
students=("ram","shyam","mohan")
student1,student2,student3=students
print(f"""
{student1}
{student2}
{student3}

""")

ram
shyam
mohan

# 8). Create a tuple containing the letters of your name from a string

In [11]:
my_name=tuple("Rahul")
my_name

('R', 'a', 'h', 'u', 'l')

# 9). Check whether or not x is in my_name

In [12]:
print("x" in my_name)

False

In [13]:
print("x" not in my_name)

True

# 10). Check whether or not s is in my_name

In [14]:
print("s" in my_name)

False

In [15]:
print("s" not in my_name)

True