##                                                                     Day 1

To print any word

In [1]:
print("Hello World")

Hello World

In [2]:
print("Rahul Srivastava")

Rahul Srivastava

In [3]:
print("Data Science")

Data Science

# Variables

In [4]:
name="Rahul"
Age=35
Income=100000

In [5]:
print(name)
print(Age)
print(Income)

Rahul
35
100000

In [6]:
namelist="Rahul","Srivastava"
namelist

('Rahul', 'Srivastava')

In [7]:
name list="Rahul","Srivastava"
name list

SyntaxError: invalid syntax (3963117976.py, line 1)

Space not allowed in the variable

In [8]:
2namelist="Rahul","Srivastava"
2namelist

SyntaxError: invalid syntax (1158293334.py, line 1)

variable name should not start with numbers

In [9]:
n2amelist="Rahul","Srivastava"
n2amelist

('Rahul', 'Srivastava')

In [10]:
type(n2amelist)

tuple

In [11]:
name+list="Rahuul","Srivastava"
name+list

SyntaxError: cannot assign to operator (1626691756.py, line 1)

In [12]:
name@list="Rahuul","Srivastava"
name@list

SyntaxError: cannot assign to operator (578928200.py, line 1)

In [13]:
name_list="Rahuul","Srivastava"
name_list

('Rahuul', 'Srivastava')

The only allowed spl character is underscore
Variable name should start with A-Z,a-z or underscore

In [14]:
name="ai"

type(name)

str

In [15]:
x=101
type(x)

int

In [16]:
x=30.7
type(x)

float

In [17]:
x=True
type(x)

bool

In [18]:
y=False
type(y)

bool

In [19]:
y=true
type(y)

NameError: name 'true' is not defined

#Python is case sensitive

In [20]:
z="True"
type(z)

str

In [21]:
z='True'
type(z)

str

# Implicit conversion

In [22]:
x=10
y=2
x/y

5.0

In [23]:
x=10
y="ds"
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
x=10.5
y="10"
x+y

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [25]:
x=10.5
y="10"
x+int(y)

20.5

In [26]:
x="ds"
y="da"
x+y

'dsda'

In [27]:
x=10
y=10.4
x+y

20.4

int -> float
int->string
float->int
float->str
str->int
str->float

In [29]:
x="hi"
int(x)

ValueError: invalid literal for int() with base 10: 'hi'

text cannot be converted to int

In [30]:
x="hi"
float(x)

ValueError: could not convert string to float: 'hi'

text cannot be converted to int

In [31]:
x=100
float(x)

100.0

int can be converted to float

In [32]:
x=100.88
int(x)

100

float can be converted to int

# Day 2

operators
Arithmetic Operators

In [33]:
x=5
y=10
z=x+y
print(z)
type(z)

15

int

In [34]:
first_name="Rahul"
second_name="Srivastava"
full_name=first_name+second_name
full_name

'RahulSrivastava'

In [35]:
text="Age is "
age="22"
combine=text+age
combine

'Age is 22'

In [36]:
x=5
y=10
z=x-y
print(z)
type(z)

-5

int

In [37]:
first_name="Rahul"
second_name="Srivastava"
full_name=first_name-second_name
full_name

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [38]:
x=5
y=10
z=x*y
print(z)
type(z)

50

int

In [39]:
value="ai   "
count=6
result=value*count
result

'ai   ai   ai   ai   ai   ai   '

In [40]:
x=5
y=10
z=x/y
print(z)
type(z)

0.5

float

In [41]:
value="ai   "
count=3
result=value/count
result

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [42]:
x=27
y=4
z=x%y
z

3

In [43]:
x=28
y=4
z=x%y
z

0

In [44]:
x=29
y=4
z=x%y
z

1

In [45]:
x=4
y=27
z=x%y
z

4

Modulus ->Numerator > Denominator it returns Remainder else it returns x

In [46]:
x=27
y=4
z=x//y
z

6

In [47]:
x=4
y=27
z=x//y
z

0

In [48]:
x=6
y=27
z=x//y
z

0

In [49]:
x=2
y=5
z=x**y
z

32

Relational operators

In [50]:
x=25
y=30
x>y

False

In [51]:
x=25
y=30
x<y

True

In [52]:
x=25
y=30
x==y

False

In [53]:
x=26
y=30
x!=y

True

In [54]:
x=30
y=25
x>=y

True

In [55]:
x=30
y=25
x<=y

False

# Logical operators

In [56]:
is_student=True
in_college=True
in_school=False

In [57]:
is_student and in_college

True

In [58]:
is_student and in_school

False

In [59]:
is_student or in_college

True

In [60]:
is_student or in_school

True

In [61]:
in_school or in_school

False

In [62]:
not(in_school)

True

In [63]:
not(in_college)

False

# Membership operators

In [64]:
vowels="aeiou"
print("u" in vowels)

True

In [65]:
print("l" in vowels)

False

In [66]:
print("u" not in vowels)

False

# Assignment operators

In [67]:
a=5
b=3
a=a+b
a

8

In [68]:
a=5
b=3
a+=b
a

8

# Conditional statements

In [69]:
num=50
if(num>0):
    print(num,"is greater than zero")

50 is greater than zero

In [70]:
num=50
if(num<0):
    print(num,"is greater than zero")

In [71]:
num=5
if(num>0):
    print(num,"is greater than zero")
else:
    print(num,"is lesser than zero")

5 is greater than zero

In [72]:
num=-5
if(num>0):
    print(num,"is greater than zero")
else:
    print(num,"is lesser than zero")

-5 is lesser than zero

In [73]:
age=int(input("Enter age: "))
if(0<age<3):
    print("No fares for age group 0-3")
elif(3<age<10):
    print("Bus fare is 10")
elif(10<age<20):
    print("Bus fare is 20") 
else:
    print("Bus fare is 30")

Enter age: 3
Bus fare is 30

In [74]:
num1=1000
num2=2
num3=300

In [75]:
if(num1>num2) and (num1>num3):
  print("num1 is greater")
else:
  if(num3>num2):
    print("num3 is greater")
  else:
    print("num2 is greater")

num1 is greater

# Day3

Strings

In [76]:
name="Rahul"
print(name)
type(name)

Rahul

str

In [77]:
text="I love Python"

In [78]:
text[0]

'I'

In [79]:
text[2]

'l'

In [80]:
text[-1]

'n'

In [81]:
text[-4]

't'

In [82]:
text[:]

'I love Python'

In [83]:
text[2:6]

'love'

In [84]:
text[:len(text)]

'I love Python'

In [85]:
text[2:]

'love Python'

In [86]:
text[::-1]

'nohtyP evol I'

In [87]:
text[2:12]

'love Pytho'

In [88]:
text[1:-1]

' love Pytho'

In [89]:
text[2]

'l'

In [90]:
text[:-7:-1]

'nohtyP'

In [91]:
### reverse the string and displace the third last letter
text[::-1][-3]

'l'

In [92]:
text.replace("Python","Data Science")

'I love Data Science'

In [93]:
text.upper()

'I LOVE PYTHON'

In [94]:
text.lower()

'i love python'

In [95]:
text.title()

'I Love Python'

In [96]:
date="04","06","2023"
sep='-'
sep.join(date)

'04-06-2023'

In [97]:
text="***Python*for*data*science***"
text.strip("*")

'Python*for*data*science'

In [98]:
text="***Python*for*data*science"
text.strip("*")

'Python*for*data*science'

# List

In [99]:
sample_list=[1,2,3,7,-1,"hi",5.7,1,1,1]
sample_list

[1, 2, 3, 7, -1, 'hi', 5.7, 1, 1, 1]

In [100]:
type(sample_list)

list

Elements in a list are seperated by comma and enclosed in square brackets
List is hetrogenous-> Multiple data types
List can have duplicates

In [101]:
book_list=["Python","R","DS"]
print(book_list)
type(book_list)

['Python', 'R', 'DS']

list

In [102]:
novels=["Lord of the rings","Harry Potter","Esha"]

In [103]:
library=book_list+novels
library

['Python', 'R', 'DS', 'Lord of the rings', 'Harry Potter', 'Esha']

In [104]:
novels.append("Jumanji")

In [105]:
novels

['Lord of the rings', 'Harry Potter', 'Esha', 'Jumanji']

In [106]:
novels.insert(1,"Leader")
novels

['Lord of the rings', 'Leader', 'Harry Potter', 'Esha', 'Jumanji']

In [107]:
avg_prices=[21,22,56,12,11,9,56,78,99,80]
avg_prices.sort()

In [108]:
avg_prices

[9, 11, 12, 21, 22, 56, 56, 78, 80, 99]

In [109]:
avg_prices_sorted=sorted(avg_prices)
avg_prices_sorted

[9, 11, 12, 21, 22, 56, 56, 78, 80, 99]

In [110]:
prod=["mango","orange","apple"]
prod.sort()

In [111]:
prod

['apple', 'mango', 'orange']

In [112]:
avg_prices.sort(reverse=True)

In [113]:
avg_prices

[99, 80, 78, 56, 56, 22, 21, 12, 11, 9]

In [114]:
prod.sort(reverse=True)

In [115]:
prod

['orange', 'mango', 'apple']

In [116]:
avg_prices=[21,22,56,12,11,9,12.6]
avg_prices.sort()
avg_prices

[9, 11, 12, 12.6, 21, 22, 56]

In [117]:
avg_prices=[21,22,56,12,11,9,12.6,"hi"]
avg_prices.sort()
avg_prices

TypeError: '<' not supported between instances of 'str' and 'float'

In [118]:
max(avg_prices)

TypeError: '>' not supported between instances of 'str' and 'int'

In [119]:
products=["Dairy","Bakery","Grocery","Clothing"]
print("Bakery" in products)

True

In [120]:
print("Bakery" not in products)

False

In [121]:
for books in products:
    print(books)

Dairy
Bakery
Grocery
Clothing

In [122]:
prices=[1,2,3,4,8,5,-1,88,99,90]
len(prices)

10

In [123]:
max(prices)

99

In [124]:
min(prices)

-1

In [125]:
products.clear()

In [126]:
products

[]

In [127]:
prices=[1,2,3,4,8,5,-1,1,1,1,1]
prices.count(1)

5

In [128]:
items=["hi","hello"]
prices.extend(items)
prices

[1, 2, 3, 4, 8, 5, -1, 1, 1, 1, 1, 'hi', 'hello']

In [129]:
prices.index("hi")

11

In [130]:
prices.insert(2,"ai")
prices

[1, 2, 'ai', 3, 4, 8, 5, -1, 1, 1, 1, 1, 'hi', 'hello']

In [131]:
prices.pop(2)
prices

[1, 2, 3, 4, 8, 5, -1, 1, 1, 1, 1, 'hi', 'hello']

In [132]:
prices.remove("hello")

In [133]:
prices.remove("hello")

ValueError: list.remove(x): x not in list

In [134]:
prices

[1, 2, 3, 4, 8, 5, -1, 1, 1, 1, 1, 'hi']

In [135]:
prices.reverse()

In [136]:
prices

['hi', 1, 1, 1, 1, -1, 5, 8, 4, 3, 2, 1]

In [137]:
prices[0:3]

['hi', 1, 1]

In [138]:
prices[3:7]

[1, 1, -1, 5]

In [139]:
prices[-1]

1

In [140]:
prices[0:-1]

['hi', 1, 1, 1, 1, -1, 5, 8, 4, 3, 2]

In [141]:
prices[0]="ds"
prices

['ds', 1, 1, 1, 1, -1, 5, 8, 4, 3, 2, 1]

In [142]:
sample_list=[1,2,3,4,5]
sample_list[0]=100
sample_list

[100, 2, 3, 4, 5]

List is mutable-> change after creating the list

In [143]:
l = [1,2,3,4,'a','b'] # Great work!Sreekar Reddy

for i in l:
  print(i)

1
2
3
4
a
b

# Day 4

Tuple
1) Container Object
2) Heterogenous-> allows multiple data types
3) Can have duplicates
4) Immutable
5) Elements are seperated by comma,enclosed in paranthesis or without any brackets

In [144]:
sample_tuple=(1,6,2.3,8.3,"hi")
sample_tuple

(1, 6, 2.3, 8.3, 'hi')

In [145]:
type(sample_tuple)

tuple

In [146]:
sample_tuple2=1,6,2.3,8.3,"hi"
sample_tuple2

(1, 6, 2.3, 8.3, 'hi')

In [147]:
type(sample_tuple2)

tuple

In [148]:
print(sample_tuple)
print(sample_tuple2)

(1, 6, 2.3, 8.3, 'hi')
(1, 6, 2.3, 8.3, 'hi')

In [149]:
sample_tuple[1]

6

In [150]:
sample_tuple[10]

IndexError: tuple index out of range

In [151]:
sample_tuple=(1,6,2.3,8.3)
sample_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [152]:
sorted(sample_tuple)

[1, 2.3, 6, 8.3]

In [153]:
sorted(sample_tuple,reverse=True)

[8.3, 6, 2.3, 1]

In [154]:
n=5
rep_tuple=sample_tuple*n
rep_tuple

(1,
 6,
 2.3,
 8.3,
 1,
 6,
 2.3,
 8.3,
 1,
 6,
 2.3,
 8.3,
 1,
 6,
 2.3,
 8.3,
 1,
 6,
 2.3,
 8.3)

In [155]:
sample_tup1=(1,2,3,4)
sample_tup2=(5,7,8,1)
sam=sample_tup1+sample_tup2
sam

(1, 2, 3, 4, 5, 7, 8, 1)

In [156]:
sample_tup1=(1,2,3,4)
sample_tup2=(5,7,8,1,10,20)
sam=sample_tup1+sample_tup2
sam

(1, 2, 3, 4, 5, 7, 8, 1, 10, 20)

In [157]:
print(2 in sample_tup1)

True

In [158]:
print(10 in sample_tup1)

False

In [159]:
print(10 not in sample_tup1)

True

In [160]:
print(10 in sample_tup1)

False

In [161]:
Tools=("Python","R","Excel")
for every_tool in Tools:
    print(every_tool)

Python
R
Excel

In [162]:
### How many elements in Tools?
len(Tools)

3

In [163]:
Prices=(100,200,213,132,167,789)
max(Prices)

789

In [164]:
min(Prices)

100

In [165]:
Prices=(100,200,213,132,167,789,"ai")
max(Prices)

TypeError: '>' not supported between instances of 'str' and 'int'

In [166]:
Prices.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [167]:
Prices[2].append(50)

AttributeError: 'int' object has no attribute 'append'

In [168]:
Prices=(100,200,213,132,167,789,[1,2,3])
Prices[6].append(50)

In [169]:
Prices

(100, 200, 213, 132, 167, 789, [1, 2, 3, 50])

In [170]:
Prices[0:3]

(100, 200, 213)

In [171]:
tuple(range(1,11)) # Sudip

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [172]:
x = ("apple", "banana", "cherry") # Hemanth
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

# Different types of tuples

In [173]:
# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [174]:
tuple1=("r","r","d","t")
print(tuple1[-1])

t

In [175]:
tuple1=("r","r","d","t") # Preeti
print(tuple1[-2])

d

In [176]:
tuple1=("r","r","d","t") # Preeti
print(tuple1[1])

r

# Dictionary

1) Key-value pair
2) {}
3) Indexing- Square bracket
4) Mutable

In [182]:
dict_1={'name':"arun","hobbies":["painting","singing","cooking"],1:23}

In [183]:
dict_1

{'name': 'arun', 'hobbies': ['painting', 'singing', 'cooking'], 1: 23}

In [184]:
dict_1[keys]

NameError: name 'keys' is not defined

In [186]:
dict_1.keys()

dict_keys(['name', 'hobbies', 1])

In [187]:
dict_1.values()

dict_values(['arun', ['painting', 'singing', 'cooking'], 23])

In [188]:
dict_1['name']="Mukund"

In [189]:
dict_1

{'name': 'Mukund', 'hobbies': ['painting', 'singing', 'cooking'], 1: 23}

In [190]:
dict_1[1]=66

In [191]:
dict_1

{'name': 'Mukund', 'hobbies': ['painting', 'singing', 'cooking'], 1: 66}

In [192]:
del dict_1["name"]

In [193]:
dict_1

{'hobbies': ['painting', 'singing', 'cooking'], 1: 66}

In [194]:
### Add a new key-value
dict_1.update({"class":"ds"})

In [195]:
dict_1

{'hobbies': ['painting', 'singing', 'cooking'], 1: 66, 'class': 'ds'}

In [196]:
len(dict_1)

3

In [197]:
type(dict_1)

dict

In [198]:
dict_1.items()

dict_items([('hobbies', ['painting', 'singing', 'cooking']), (1, 66), ('class', 'ds')])

In [199]:
dict_1.get("hobbies")

['painting', 'singing', 'cooking']

In [200]:
dict_1.get("class")

'ds'

#  Sets

In [201]:
sample_set={1,2,3,4,5,1,13.4,9.6,"hi","hello","ds",-1,11.4,21.5}

In [202]:
sample_set

{-1, 1, 11.4, 13.4, 2, 21.5, 3, 4, 5, 9.6, 'ds', 'hello', 'hi'}

In [203]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [204]:
sample_set[0]=1

TypeError: 'set' object does not support item assignment

In [205]:
sample_set.add(100)

In [206]:
sample_set

{-1, 1, 100, 11.4, 13.4, 2, 21.5, 3, 4, 5, 9.6, 'ds', 'hello', 'hi'}

Set does not allow duplicates
we cannot retrieve the set using index
Set is mutable
Set has {}
Ordered -First place